*{
    box-sizing: border-box;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    background-color: #7286D3;
    width: 100%;
    float: left;
    height: 50px;
    padding-bottom: 6%;
}
.footer{
    background-color: #7286D3;
    width: 100%;
    float: left;
    height: 60px;
    color: black;
    margin-top: 0%;
}
.main{
    background-color: #E5E0FF;
    width: 100%;
    float: left;
    height: 400px;
    padding-top: 6%;
    padding-bottom: 6%;
}
.menu{
    background-color: #FFF2F2;
    
    width: 25%;
    float: left;
}
.dashboard{
    background-color: #8EA7E9;
    width: 50%;
    float: left;
}
.rss{
    background-color: #FFF2F2;
    width: 25%;
    float: left;
}
.general{
    position: absolute;
    width: auto;
    
}
.img{
    width: 50%;
    height: 30%;
}